/*
|-----------------------------------------------------------------
| Custome CSS
|-----------------------------------------------------------------
*/

textarea {
	resize: none;
}

a:hover {
	text-decoration: none;
}
.p-indent {
	text-indent: 50px;
}

.glyphicon-large {
    font-size: ;
}

.user-profile-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.img-posts {
	width: 50%;
	height: 50%;
	border-radius: 5px;
	border: 2px solid grey;
	position: relative;
}

.panel > .panel-admin {
	background-image: none;
    background-color: #222;
    color: white;

}

.center-div {
	maring: 0 auto;
}

.post, .post-img {
	padding: 2px;
}